@page
@model SacramentMeetingPlanner.Pages.PlannerModel
@{
    ViewData["Title"] = "Planner";
}

<div class="opening">
    <span>President</span>
    <span>Conducting</span>
    <span>Opening Hymn</span>
    <span class="hymnName"></span>
    <span>Invocation</span>
    <span>~Ward Business~</span>
</div>
<div class="meeting">
    <span>Sacrament Hymn</span>
    <span class="hymnName"></span>
    <span></span>
</div>